<div ngClass="main-div">
<h1>{{title}}</h1>

<h3>trackBy example</h3>
<table border="1">
  <tr *ngFor="let s of students; let i=index; trackBy:trackbyStudentId">
    <td >{{i+1}}</td>
    <td >{{s.name}}</td>
    <td >{{s.age}}</td>
    <td >{{s.course}}</td>
  </tr>
</table>
<br>
<button (click)="getmorestudents()" >Add more students</button>
<hr>

<h4>Country wise gourping</h4>
<ul *ngFor="let group of countryDetails">
    {{group.country}}
    <li *ngFor="let person of group.people">{{person.name}} </li>
</ul>

<h4>ngStyle Dynamic atributes</h4>
<ul *ngFor="let p of pepoles">
 <li [ngStyle]="{'color':getcolor(p.country)}" >{{p.name}} -{{p.country}}</li> 
</ul>
<hr>

<h3>Tow way data binding</h3>
Type here <input [value]="towwaydata" (input)="towwaydata=$event.target.value" >
<br>
Yor Name: {{towwaydata}} <br>

<h3>Tow way data binding with NgModel</h3>
Enter data: <input [(ngModel)]='dataModel'> <br>

Your name: {{dataModel}}
<hr>

<h3>Custom pipe examples</h3>

<table border="1">
  <tr *ngFor="let e of employ">
    <td>{{e.name|uppercase|mypipe:e.gender}}</td>
    <td>{{e.gender}}</td>
  </tr>
</table>
<hr>

<h3>Routing component example</h3>

<a [routerLink]= "['/student']">student</a> <br>
<a [routerLink]= "['/student-details']" >student details</a> <br>
<button (click)="gotostudent()" >Goto Student</button>

<h3>Service example example</h3>
<p>{{text}}</p>

<br>
<hr>
<h3>Registration form</h3>
<div class="container">
  <div class="row">
      <form #regFrm="ngForm" (ngSubmit)="register(regFrm)">
        <input class="form-control" type="text" name="name" required ngModel><br>
        <input class="form-control" type="email" name="email" email required ngModel #email='ngModel'>
        <p *ngIf="email.touched && !email.valid" >Please enter email</p><br>
        <button type="submit" class="btn btn-primary" [disabled]="!regFrm.valid" name="submit">Save</button>

      </form>
  </div>
</div>

<br>
<h3>Reactive signup form</h3>
<div class="container">
  <div class="row">
      <form [formGroup]="signform" (ngSubmit)="postData(signform)">
        <input class="form-control" type="text" formControlName="fname" ><br>
        <input class="form-control" type="text" formControlName="lname">
        <button type="submit" class="btn btn-primary" [disabled]="!signform.valid"  name="submit">Save</button>

      </form>
  </div>
</div>
<hr>

<a [routerLink]="['customers']" >Cutomers</a> ------- <a [routerLink]="['orders']">Orders</a>
<br>
<a [routerLink]="['customers/customers-list']" >Cutomers List</a>

<h3>Custom API data with observebale and subscribe</h3>

<p *ngFor="let b of mybooks">
  {{b.name}} -- {{b.category}} -----<button (click)="editBook(b.id)">Edit</button>
  ------<button (click)="delBook(b.id)">delete</button>
</p>

<hr>
<h3>Data posting to api</h3>
<p *ngIf="datasaved" >Data added successfully</p>
<form [formGroup]="bookFrm" (ngSubmit)="addBook()" >
  <input type="number" formControlName="id"><br>
    <input type="text" formControlName="name"><br>
    <input type="text" formControlName="category"><br>
    <button type="submit" [disabled]="bookFrm.invalid" > Save</button>

</form>

<hr>
<h3>Can activated routes example</h3>
<a [routerLink]="['home']" RouterLinkactive="active" >Home</a> <br>
<a [routerLink]="['admin']" RouterLinkactive="active" >Admin</a>

<h3>Can Deactivate  routes example</h3>
<a [routerLink]="['merchant']" RouterLinkactive="active" >Merchant</a>
<hr>

<h3>Parameterized routes examples</h3>
<p *ngFor="let b of mybooks">
  {{b.id}}.{{b.name}} -- <a [routerLink]="['view-details', b.id]" >View Details</a>
</p>

<hr>
<h3>Jquery Testing</h3>
<button id="test_jq">Test jquery</button>

<router-outlet></router-outlet>


</div>
